<% include partials/_header %>

<div class="container">
  <div class="row">
    <!-- FORM -->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/studies/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="Nombre" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="type" placeholder="Tipo" required>
            </div>
            <button class="btn btn-primary" type="submit">Agregar</button>
          </form>
        </div>
      </div>
    </div>

    <!-- LISTA -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < studies.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><strong><%= studies[i].name %></strong></td>
              <td><%= studies[i].type %></td>
              <% if (user.rol === "admin") { %>
              <td>
                <a href="/studies/delete/<%= studies[i]._id %>" class="btn btn-danger">Eliminar</a>
                <a href="/studies/edit/<%= studies[i]._id %>" class="btn btn-info">Editar</a>
              </td>
            <% } %>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/_footer %>
